### suredavid ###

## Development
/public/app.js.map

### IDEs ###
/.idea/
/.vscode/

### Node ###
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release

# Dependency directories
node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
.yarn-integrity

# dotenv environment variables file
.env


### macOS ###
# General
.DS_Store
._*
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### Windows ###
Thumbs.db
[Dd]esktop.ini