$color-selector-padding: .5rem;

.row {
  display: flex;
  min-height: 48px;
  width: 100%;
}

.rowContainer {
  width: 100%;
}

.inner__left, .inner__right {
  display: flex;
  align-items: center;
  width: 50%;
  flex: 1 1 auto;
}

.inner__left {
  justify-content: flex-end;
  padding-right: .5em;
}

.inner__right {
  padding-left: .5em;
  position: relative;
}

.settings {
  width: 100%;
}

.select {
  appearance: none;
  padding: 0 8px;
  padding-right: 2.4em;
  height: 36px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: auto;
  background: transparent svg-load(arrow.svg, fill: #222) no-repeat right 8px center / 10px;
  font: inherit;
  cursor: pointer;
  color: inherit;
}

.select__dark {
  background: transparent svg-load(arrow.svg, fill: #fafafa) no-repeat right 8px center / 10px;
}

.select > option {
  font-size: 1rem;
  background: var(--background-color);
}

.aboutIcon {
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  position: relative;
  padding: 2px;
  opacity: 1;
  transition: opacity .2s ease-out;

  &:hover {
    opacity: .7;
  }
}

.aboutIcon:after {
  content: 'i';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutPopover {
  padding: 1.2em;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  margin-top: 1.6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0 2px 9px 0 rgba(22, 22, 22, 0.1);
}

.aboutPopoverMeta {
  font-size: 64%;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.aboutPopoverSpacer {
  margin-bottom: 1.6em;
}

.aboutLink {
  color: inherit;
  transition: color .2s ease-out;

  &:hover {
    color: #8b8b8b;
  }
}

.colorCircle {
  border: 2px solid currentColor;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  position: relative;
  padding: 2px;
  opacity: 1;
  transition: opacity .2s ease-out;

  &:hover {
    opacity: .7;
  }
}

.colorGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -$color-selector-padding;
  margin-right: -$color-selector-padding;
}

.colorGridItem {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  transition: opacity .2s ease-out;
  margin-bottom: .2rem;

  &:hover {
    opacity: .7;
  }
}

.colorGridItemContainer {
  display: block;
  padding: $color-selector-padding;
}
