.row {
  display: flex;
  min-height: 48px;
  width: 100%;
}

.rowContainer {
  width: 100%;
}

.inner__left, .inner__right {
  display: flex;
  align-items: center;
  width: 50%;
  flex: 1 1 auto;
}

.inner__left {
  justify-content: flex-end;
  padding-right: .5em;
}

.inner__right {
  padding-left: .5em;
}

.settings {
  width: 100%;
}

.select {
  appearance: none;
  padding: 0 8px;
  padding-right: 2.4em;
  height: 36px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: auto;
  background: #fafafa svg-load(arrow.svg) no-repeat right 8px center / 10px;
  font: inherit;
}

.select > option {
  font-size: 1rem;
}
