:global {
@font-face {
    font-family: 'Roboto';
    font-display: auto;
    src: url('/fonts/roboto-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: auto;
    src: url('/fonts/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html, body, #app {
  width: 100%;
  margin: 0;
}

html, body {
  height: 100%;
}

#app {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #212121;
  background: #fbfbfb;
  min-height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  transition: .3s;
  cursor: pointer;
}

@media (max-width: 480px) {
  #app { font-size: 14px; }
}

@media (max-width: 360px) {
  #app { font-size: 12px; }
}
}
