$easing: all cubic-bezier(0.23, 1, 0.32, 1) 0.3s;

.track {
  position: absolute;
  height: 100%; width: 100%;
  border-radius: 8px;
  transition: $easing;
  background-color: #7F7F7F;
  cursor: pointer;
}

.head {
  position: absolute;
  top: -3px;
  height: 20px; width: 20px;
  border-radius: 50%;
  border: 1px solid #7F7F7F;
  transition: $easing;
  background-color: #FAFAFA;
  cursor: pointer;
}

.enabled .track {
  background-color: #80DFFF;
}

.enabled .head {
  background-color: #00BFFF;
  border: 1px solid #80DFFF;
  transform: translateX(16px);
}